[alias]
    branches = branch -a
    discard = checkout --
    graph = log --graph -10 --branches --remotes --tags  --format=format:'%Cgreen%h %Creset• %<(75,trunc)%s (%cN, %ar) %Cred%d' --date-order
    home = rev-parse --show-toplevel
    last = log -1 --stat
    log1 = log --oneline
    logmore = log --name-status --decorate
    mergetrail = log --ancestry-path --merges
    nevermind = !git reset --hard HEAD && git clean -d -f
    precommit = diff --cached --diff-algorithm=minimal -w
    remotes = remote -v
    stashes = stash list
    tags = tag
    uncommit = reset --mixed HEAD~
    untrack = rm -r --cached
    what = show -w
    # shortcuts
    co = checkout
    l = log
    l1 = log --oneline
    ll = logmore
    s = status -sb
    st = status
